.contenedor-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/hero-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    font-family: 'Cabin',
        sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;

}

.title-banner {
    font-weight: 100;
    font-family: 'Poiret One',
        cursive;
    font-size: 80px;

}

.logo-banner {
    font-size: 30px;
}

.contenedor-banner {
    color: #fff;
    padding-top: 30px;
}

.navbar-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-banner ul {
    display: flex;
    gap: 30px;
}

.banner-txt {
    padding-left: 50px;
    padding-top: 200px;
}

.boton-orden-now {
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 40px;
    border: none;
    background-color: #e1b164;
    color: #fff;
    min-width: 200px;
    min-height: 60px;
    font-size: 20px;
}